/* Root Container */
div#container-main {
    /* for Footer */
    margin-bottom: 72px;
}

/* SearchOption */
table.selector td {
    cursor: pointer;
    text-align: center;
}
table.selector.td3 td { width: 33%; }
table.selector.td3 td { width: 16.6667%; }
table.selector.td3 td img { 
    width: 32px;
    height: 32px;
    margin: 8px;
}

/* ResultList */
span.result.list-group-item { padding: 10px 6px; }
span.result span { margin-right: 16px; }
span.result span.grade img { width: 16px; height: 16px; }

/* SkillList */
div.skill {
    display: inline-block;
    margin: 12px 4px;
    width: 20%;
    min-width: 96px;
}
div.skill .panel-heading,
div.skill .panel-body {
    padding: 15px 6px;
}
div.skill img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
div.skill img:last-child {
    margin-right: 0px;
}

/* none-collapsable navbar */
.no-collapse .navbar-collapse.collapse { display: block !important; }
.no-collapse .navbar-nav > li, 
.no-collapse .navbar-nav { float: left !important; }
.no-collapse .navbar-nav.navbar-right:last-child { margin-right: -15px !important; }
.no-collapse .navbar-right { float: right!important; }

/* Etc */
span.glyphicon.glyphicon-ok {
    color: green;
    float: right;
}

/* utility classes */
.align-center {
    text-align: center;
}