/* Root Container */
div#container-main {
    /* for Footer */
    margin-bottom: 72px;
}

/* SearchOption */
table.selector td {
    cursor: pointer;
    text-align: center;
}
table.selector.td3 td { width: 33%; }
table.selector.td3 td { width: 16.6667%; }
table.selector.td3 td img { 
    width: 32px;
    height: 32px;
    margin: 8px;
}

.result span { margin-right: 16px; }
.result span.grade img { width: 16px; height: 16px; }

/* SkillList */
div.skill {
    display: inline-block;
    margin: 12px 8px;
    width: 20%;
    min-width: 120px;
}
div.skill img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

/* Etc */
span.glyphicon.glyphicon-ok {
    color: green;
    float: right;
}

/* Footer Navbar */
@media (min-width: 769px) and (max-width: 992px) { #messageInput { width: 420px; } }
@media (min-width: 993px) { #messageInput { width: 640px; } }

/* Footer MessageList */
#messageList {
    position: fixed;
    bottom: 50px;
    width: 100%;
    background: white;
}
#messageList #messageListBtn {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    cursor: pointer;
    padding: 2px;
}
#messageList > .list-group { margin-bottom: 0px; }
#messageList > .list-group > .message { border-radius: 0px; }
#messageList > .list-group > .message > p { margin-bottom: 0px }
#messageList > .list-group > .message > time { margin-left: 6px; font-size: 0.8em }

/* utility classes */
.align-center {
    text-align: center;
}